.task{
    background-color: #9254de;
    margin: 5px;
    border-radius: 10px;
    color: white;
    list-style-type: none;
    padding-left: 0; 
    margin-left: 0;
  }
  .inputTask{
    display: flex;
    width: 150px;
    margin: 0;
    padding: 5px;
    word-break: break-all;
  }
  .buttonTask{
    margin: 0;
  }